{% block title %}Smlouvy - Klientský portál{% endblock %}
{% block headline %}Smlouvy - Klientský portál{% endblock %}

{% block content %}
<section class="contracts py-3">
    <h3>Správa klientů</h3>
    <input class="form-control" id="searchInput" type="text" placeholder="Hledat...">
    <br>
    <div>
      <label for="sortColumn">Seřadit podle:</label>
      <select id="sortColumn">
        <option value="id">ID</option>
        <option value="firstname">Jméno</option>
        <option value="lastname">Příjmení</option>
        <option value="phone">Telefon</option>
        <option value="username">Uživatelské jméno</option>
        <option value="email">Email</option>
        <option value="birth">Datum narození</option>
        <option value="birth_number">Rodné číslo</option>
        <option value="city">Město</option>
        <option value="street">Ulice</option>
        <option value="psc">PSČ</option>
        <option value="role">Role</option>
      </select>
    
      <select id="sortDirection">
        <option value="ASC">Vzestupně</option>
        <option value="DESC">Sestupně</option>
      </select>
    
      <button id="sortButton">Řadit</button>
    </div>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Telefon</th>
          <th>Uživatelské jméno</th>
          <th>Email</th>
          <th>Datum narození</th>
          <th>Rodné číslo</th>
          <th>Město</th>
          <th>Ulice</th>
          <th>PSČ</th>
          <th>Role</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody id="clientsTable"></tbody>
    </table>
    <button class="btn btn-primary" id="loadMore">Načíst další</button>
</section>

<script>
$(document).ready(function(){
  var limit = 6;
  var defaultLimit = limit;
  var offset = 0;
  var search = '';
  var orderby = 'id';
  var sort = 'ASC';

  function loadMoreRows() {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users',
      data: { search, limit, offset, sort, orderby },
      dataType: 'json',
      success: function(data) {
        if (data.length > 0) {
          data.forEach(item => {
            $('#clientsTable').append(`
              <tr class="table-row">
                <td>${item.id}</td>
                <td>${item.firstname}</td>
                <td>${item.lastname}</td>
                <td>${item.phone}</td>
                <td>${item.username}</td>
                <td>${item.email}</td>
                <td>${item.birth}</td>
                <td>${item.birth_number}</td>
                <td>${item.city}</td>
                <td>${item.street}</td>
                <td>${item.psc}</td>
                <td>${item.role}</td>
              </tr>
            `);
          });
          offset += limit;

          if (data.length < limit) {
            $('#loadMore').prop('disabled', true).text('Žádné další řádky');
          } else {
            $('#loadMore').prop('disabled', false).text('Načíst další');
          }
        } else {
          $('#loadMore').prop('disabled', true).text('Žádné další řádky');
        }
      }
    });
  }

  $("#loadMore").on("click", loadMoreRows);

  $('#searchInput').change(function() {
    search = $('#searchInput').val();
    limit = defaultLimit;
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });

  function loadAllUsers() {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users',
      data: { search, limit, offset, sort, orderby },
      dataType: 'json',
      success: function(data) {
        $('#clientsTable').empty();
        if (data.length > 0) {
          data.forEach(item => {
            $('#clientsTable').append(`
              <tr class="table-row">
                <td>${item.id}</td>
                <td>${item.firstname}</td>
                <td>${item.lastname}</td>
                <td>${item.phone}</td>
                <td>${item.username}</td>
                <td>${item.email}</td>
                <td>${item.birth}</td>
                <td>${item.birth_number}</td>
                <td>${item.city}</td>
                <td>${item.street}</td>
                <td>${item.psc}</td>
                <td>${item.role}</td>
                <td><a onclick='deleteRow()' class="btn btn-primary"><i class="bi bi-trash"></i></a></td>
              </tr>
            `);
          });
          offset = limit;

          if (data.length < limit) {
            $('#loadMore').prop('disabled', true).text('Žádné další řádky');
          } else {
            $('#loadMore').prop('disabled', false).text('Načíst další');
          }
        } else {
          $('#loadMore').prop('disabled', true).text('Žádné řádky k načtení');
        }
      }
    });
  }

  $("#loadMore").on("click", loadMoreRows);

  $('#searchInput').change(function () {
    search = $('#searchInput').val();
    limit = defaultLimit;
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });

  $('#sortButton').on('click', function () {
    orderby = $('#sortColumn').val();
    sort = $('#sortDirection').val();
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });

  loadAllUsers();
});
</script>









{% endblock %}