{% block title %}Smlouvy - Klientský portál{% endblock %}
{% block headline %}Smlouvy - Klientský portál{% endblock %}

{% block content %}
<section class="contracts py-3">
    <h3>Správa klientů</h3>
    <input class="form-control my-3" id="searchInput" type="text" placeholder="Hledat...">
    <div class="d-flex gap-2 align-items-center my-3">
      <label for="sortColumn">Seřadit podle:</label>
      <select id="sortColumn" class="form-select w-25">
        <option value="id">ID</option>
        <option value="firstname">Jméno</option>
        <option value="lastname">Příjmení</option>
        <option value="phone">Telefon</option>
        <option value="username">Uživatelské jméno</option>
        <option value="email">Email</option>
        <option value="birth">Datum narození</option>
        <option value="birth_number">Rodné číslo</option>
        <option value="city">Město</option>
        <option value="street">Ulice</option>
        <option value="psc">PSČ</option>
        <option value="role">Role</option>
      </select>
    
      <select id="sortDirection" class="form-select w-25">
        <option value="ASC">Vzestupně</option>
        <option value="DESC">Sestupně</option>
      </select>
    
      <button id="sortButton" class="btn btn-light">Seřadit</button>
    </div>
    
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Telefon</th>
          <th>Uživatelské jméno</th>
          <th>Email</th>
          <th>Datum narození</th>
          <th>Rodné číslo</th>
          <th>Město</th>
          <th>Ulice</th>
          <th>PSČ</th>
          <th>Role</th>
          <th>Akce</th>
        </tr>
      </thead>
      <tbody id="clientsTable"></tbody>
    </table>
    <button class="btn btn-primary" id="loadMore">Načíst další</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upravit záznam</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="rowData"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Zavřít</button>
            <button type="button" class="btn btn-success">Uložit změny</button>
          </div>
        </div>
      </div>
    </div>

</section>

<script>
$(document).ready(function(){
  var limit = 10;
  var defaultLimit = limit;
  var offset = 0;
  var search = '';
  var orderby = 'id';
  var sort = 'ASC';

  function loadMoreRows() {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users',
      data: { search, limit, offset, sort, orderby },
      dataType: 'json',
      success: function(data) {
        if (data.length > 0) {
          data.forEach(item => {
            $('#clientsTable').append(`
              <tr user-id="${item.id}" class="table-row">
                <td>${item.id}</td>
                <td>${item.firstname}</td>
                <td>${item.lastname}</td>
                <td>${item.phone}</td>
                <td>${item.username}</td>
                <td>${item.email}</td>
                <td>${item.birth}</td>
                <td>${item.birth_number}</td>
                <td>${item.city}</td>
                <td>${item.street}</td>
                <td>${item.psc}</td>
                <td>${item.role}</td>
                <td class='align-middle'>
                <div class='d-flex gap-2'>
                  <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                  <a onclick="deleteRow(${item.id})" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </div>
              </td>
              </tr>
            `);
          });
          offset += limit;

          if (data.length < limit) {
            $('#loadMore').prop('disabled', true).text('Žádné další řádky');
          } else {
            $('#loadMore').prop('disabled', false).text('Načíst další');
          }
        } else {
          $('#loadMore').prop('disabled', true).text('Žádné další řádky');
        }
      }
    });
  }

  $("#loadMore").on("click", loadMoreRows);

  function search() {
    search = $('#searchInput').val();
      limit = defaultLimit;
      offset = 0;
      loadAllUsers();
      $('#loadMore').prop('disabled', false).text('Načíst další');
  }
  $('#searchInput').change(function() {
    search = $('#searchInput').val();
    limit = defaultLimit;
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });


  function loadAllUsers() {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users',
      data: { search, limit, offset, sort, orderby },
      dataType: 'json',
      success: function(data) {
        $('#clientsTable').empty();
        if (data.length > 0) {
          data.forEach(item => {
            $('#clientsTable').append(`
            <tr user-id="${item.id}" class="table-row">
              <td>${item.id}</td>
              <td>${item.firstname}</td>
              <td>${item.lastname}</td>
              <td>${item.phone}</td>
              <td>${item.username}</td>
              <td>${item.email}</td>
              <td>${item.birth}</td>
              <td>${item.birth_number}</td>
              <td>${item.city}</td>
              <td>${item.street}</td>
              <td>${item.psc}</td>
              <td>${item.role}</td>
              <td class='align-middle'>
                <div class='d-flex gap-2'>
                  <a onclick="updateRow(${item.id})" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                  <a onclick="deleteRow(${item.id})" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
          `);
          });
          offset = limit;

          if (data.length < limit) {
            $('#loadMore').prop('disabled', true).text('Žádné další řádky');
          } else {
            $('#loadMore').prop('disabled', false).text('Načíst další');
          }
        } else {
          $('#loadMore').prop('disabled', true).text('Žádné řádky k načtení');
        }
      }
    });
  }

  $("#loadMore").on("click", loadMoreRows);

  $('#searchInput').change(function () {
    search = $('#searchInput').val();
    limit = defaultLimit;
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });

  $('#sortButton').on('click', function () {
    orderby = $('#sortColumn').val();
    sort = $('#sortDirection').val();
    offset = 0;
    loadAllUsers();
    $('#loadMore').prop('disabled', false).text('Načíst další');
  });

  loadAllUsers();
});
</script>
<script>
 function deleteRow(id) {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users/delete',
      data: { id },
      dataType: 'json',
      success: function(data) {
        $('#clientsTable tr[user-id="'+id+'"]').remove();
        return true;
      }
    });
  }

  function updateRow(id) {
    $.ajax({
      url: 'http://pojisteni.localhost.com/users/get',
      data: { id },
      dataType: 'json',
      success: function(data) {
        $('#rowData').empty();
        if (data.length > 0) {
          data.forEach(item => {
        $('#rowData').append(`
            <p>${item.id}</p>
          `);
        return true;
      }
    )};
      }
    });
  }
</script>








{% endblock %}