{% block title %}Přehled - Administrace{% endblock %}
{% block headline %}Přehled - Administrace{% endblock %}


{% block content %}
    <div class="overview py-2">
        <h2>Vítejte, <b>{{user.firstname}}</b></h2>
    </div>
{% endblock %}