<nav class="navbar portal-menu menu navbar-expand-lg navbar-light bg-light" aria-label="portal-menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/admin" class="nav-link"><i class="bi bi-bar-chart-line-fill"></i>Přehled</a></li>
        <li class="nav-item"><a href="/admin/clients" class="nav-link"><i class="bi bi-person-fill"></i></i>Klienti</a></li>
        <li class="nav-item"><a href="/admin/contracts" class="nav-link"><i class="bi bi-clipboard-fill"></i></i>Pojistné smlouvy</a></li>
        <li class="nav-item"><a href="/admin/insurance-events" class="nav-link"><i class="bi bi-car-front-fill"></i>Pojistné události</a></li>
      </ul>
      <div>
      <span><i class="bi bi-person-circle"></i>Přihlášen jako <b>{{user.firstname}}</b> (<a href="/logout">odhlásit se</a>)</span>
      </div>
    </div>
  </div>
</nav>