<div class="header-modal d-flex pt-5 bg-white">
    <article class="modal-item container-xxl">
        <h1 class="header-headline fs-4 text-white m-0 py-3 px-3">Vyhněte se nepříjemnostem na silnici {{ user['username'] }}</h1>
        <div class="content py-4 px-3 bg-white">
            <p class="fs-6">Sjednejte si u nás výhodné autopojištění <b>EXTRA</b> a buďte v bezpečí v jakékoliv situaci.</p>
            <p class="fs-6 p-0 m-0">U nás sjednáte <a href='te'>povinné ručení</a> i <a href=''>havarijní pojištění</a> během pár minut</p></br>
            <a href="#" class="btn btn-primary fw-bold mt-3"><i class="bi bi-arrow-return-right"></i> SJEDNAT ONLINE</a>
        </div>
    </article>
</div>