<div class="header-modal container-fluid d-flex align-items-center bg-white">
    <article class="modal-item">
        <h1 class="header-headline text-white m-0 py-3 px-3">Vyhněte se nepříjemnostem na silnici {{ user['username'] }}</h1>
        <div class="content py-3 px-3 bg-white">
            <p class="fs-5">Sjednejte si u nás výhodné autopojištění <b>EXTRA</b> a buďte v bezpečí v jakékoliv situaci.</p>
            <small>U nás sjednáte <a href='te'>povinné ručení</a> i <a href=''>havarijní pojištění</a> během pár minut</small></br>
            <a href="#" class="btn btn-primary fw-bold btn-lg mt-3"><i class="bi bi-arrow-return-right"></i> SJEDNAT ONLINE</a>
        </div>
    </article>
</div>