<header>
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/public/assets/images/logo.svg"></a>
        </div>
        <div class="top-menu">
            <a href="/online-hlaseni"><i class="bi bi-ev-front"></i></a>
        </div>
    </div>
    {% include 'Components/menu.twig' %}
</header>