<nav class="main-menu menu py-1 container-xxl fs-6" aria-label="primary">
  <ul class="m-0">
    <li><a href="#benefits">Výhody autopojištění</a></li>
    <li><a href="#insurance-offer">Nabídka pojištění</a></li>
    <li><a href="#insurance-process">Vyřízení škody</a></li>
    <li><a href="#faq">FAQ</a></li>
  </ul>
</nav>