<nav class="menu py-3">
  <ul>
    <li><a href="#">Pojištění vozidel</a></li>
    <li><a href="#">Pro firmy</a></li>
    <li><a href="#">O nás</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</nav>