{% extends "index.twig" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% include 'Components/header-modal.twig' %}

<article class="help-article container-fluid">
    <div class="headline d-flex flex-column justify-content-center align-items-center pt-4 ">
        <h2 class="text-white text-center fs-2">Jak Vám můžeme pomoci?</h2>
        <div class="underline rounded"></div>
    </div>
    <div class="container d-flex flex-wrap justify-content-around pt-5 pb-5">
        <a href="#" class="btn d-flex flex-column fw-bolder fs-5"><i class="bi bi-ev-front-fill fs-1"></i>Hlášení
            škody</a>
        <a href="#" class="btn d-flex flex-column fw-bolder fs-5"><i class="bi bi-info-circle-fill fs-1"></i></i>Hlášení
            škody</a>
        <a href="#" class="btn d-flex flex-column fw-bolder fs-5"><i class="bi bi-envelope-fill fs-1"></i>Hlášení
            škody</a>
    </div>
</article>

<article class="benefits-article container-fluid">
    <h2 class="text-center fs-2 py-4">Výhody pojištění od Nebourej.cz</h2>

    <div class="container d-flex flex-row flex-wrap gap-2 justify-content-around pt-4 pb-5">
        <div class="card p-4 shadow">
            <div class="card-body">
                <img src="./public/assets/images/hands.png" />
                <h5 class="card-title pt-5 pb-2">Povinné ručení se 100 miliony</h5>
                <p class="card-text">Chceme, abyste byli dostatečně krytí, proto od nás máte v základu 100 milionů.</p>
            </div>
        </div>
        <div class="card p-4 shadow">
            <div class="card-body">
                <img src="./public/assets/images/card.png" />
                <h5 class="card-title pt-5 pb-2">Online zelená karta</h5>
                <p class="card-text">Zelenou kartu stejně jako asistenční kartičku máte vždy po ruce a zobrazíte ji
                    offline v naší mobilní appce.</p>
            </div>
        </div>
        <div class="card p-4 shadow">
            <div class="card-body">
                <img src="./public/assets/images/bonus.png" />
                <h5 class="card-title pt-5 pb-2">45 % na pojištění autoskel</h5>
                <p class="card-text">Při sjednání havarijka na všechna rizika od nás dostanete zvýhodněnou cenu na skla.
                </p>
            </div>
        </div>
    </div>
</article>

<article class="insurance-process-article container-fluid">
    <h2 class="text-center fs-2 pt-4 display-5">Jednoduchý proces vyřízení škody</h2>
    <h3 class="text-center fs-2 pt-3 pb-4">Jak funguje proces vyřízení škodné události</h3>
    <div class="container d-flex flex-row flex-wrap gap-2 justify-content-around pt-4 pb-5">
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/call.png" />
                <h5 class="card-title pt-5 pb-2">Nahlásíte škodu telefonicky nebo online</h5>
                <span class="lg-number position-absolute top-0 bottom-0">1</span>
                <p class="card-text">V případě nečekané události jsme tu pro vás. Bezproblémové hlášení škody je na dosah ruky – prostřednictvím jednoduchého telefonického hovoru nebo pohodlně online.</p>
            </div>
        </div>
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/towing.png" />
                <h5 class="card-title pt-5 pb-2">Pohotově Vám pomůžeme s odtahem nebo likvidací havarovaného vozidla.</h5>
                <span class="lg-number position-absolute top-0 bottom-0">2</span>
                <p class="card-text">Bez obav o havarované vozidlo – naše služby odtahu a likvidace jsou k dispozici okamžitě, abychom vám zajistili pohodlí v obtížných chvílích.</p>
            </div>
        </div>
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/stats.png" />
                <h5 class="card-title pt-5 pb-2">Mějte celý proces na očích díky Sledování stavu škody (claims tracker).</h5>
                <span class="lg-number position-absolute top-0 bottom-0">3</span>
                <p class="card-text">Nechte nás pracovat a vy sledujte! S naším Sledováním stavu škody (claims tracker) budete v reálném čase informováni o každém detailu procesu, abyste měli situaci pod kontrolou.
                </p>
            </div>
        </div>
    </div>
</article>

<article class="faq-article container-fluid">
    <h2 class="text-center fs-2 pt-3 pb-4">Často kladené dotazy (FAQ)</h2>
    <div class="container d-flex flex-row flex-wrap gap-2 justify-content-around pt-4 pb-5">
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/call.png" />
                <h5 class="card-title pt-5 pb-2">Nahlásíte škodu telefonicky nebo online</h5>
                <span class="lg-number position-absolute top-0 bottom-0">1</span>
                <p class="card-text">V případě nečekané události jsme tu pro vás. Bezproblémové hlášení škody je na dosah ruky – prostřednictvím jednoduchého telefonického hovoru nebo pohodlně online.</p>
            </div>
        </div>
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/towing.png" />
                <h5 class="card-title pt-5 pb-2">Pohotově Vám pomůžeme s odtahem nebo likvidací havarovaného vozidla.</h5>
                <span class="lg-number position-absolute top-0 bottom-0">2</span>
                <p class="card-text">Bez obav o havarované vozidlo – naše služby odtahu a likvidace jsou k dispozici okamžitě, abychom vám zajistili pohodlí v obtížných chvílích.</p>
            </div>
        </div>
        <div class="card p-4 border-0">
            <div class="card-body">
                <img src="./public/assets/images/stats.png" />
                <h5 class="card-title pt-5 pb-2">Mějte celý proces na očích díky Sledování stavu škody (claims tracker).</h5>
                <span class="lg-number position-absolute top-0 bottom-0">3</span>
                <p class="card-text">Nechte nás pracovat a vy sledujte! S naším Sledováním stavu škody (claims tracker) budete v reálném čase informováni o každém detailu procesu, abyste měli situaci pod kontrolou.
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}