:root {
    --blue: #74A8ED;
    --dark-blue: #3D54B2;
    --white: #ffffff;
    --light-gray: #D9D9D9;
    --dark-gray: #666666;
    --black: #000;
}

.menu a {
    text-decoration: none;
}

ol,
ul {
    padding: 0;
}

.divider {
    border-right: 1px solid;
    color: var(--light-gray);
}

.logo img {
    width: 300px;
}

.top-menu {
    display: flex;
    gap: 15pt;
}

.top-menu a {
    text-decoration: none !important;
}

.top-menu section {
    display: flex;
    gap: 15pt;
}

.top-menu .bi {
    font-size: 1em;
}

.top-menu .bi-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5pt;
}

.main-menu {
    border-top: 1px solid var(--light-gray);
}

.main-menu ul {
    align-items: stretch;
    height: 30pt;
    gap: 20pt;
}

.main-menu ul li a {
    color: black;
}

.portal-menu ul {
    margin: 0;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    display: flex;
    align-items: center;
}

.menu ul li a {
    height: 100%;
    align-items: center;
    display: flex;
}

.menu ul li a:hover {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.portal {
    background-color: #ffffff;
    border-top: 1px solid var(--light-gray);
    padding: 10pt;
}

.portal-menu .bi {
    font-size: 1em;
    margin-right: 5pt;
}

.portal .contract-card-header {
    border-left: 5px solid var(--blue);
}

.portal .contracts .contract .btn-link {
    text-decoration: none;
}

.multistep-form {
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
.multistep-form .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
.multistep-form .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
.multistep-form .form-header .stepIndicator.active {
    font-weight: 600;
    color: var(--blue);
}
.multistep-form .form-header .stepIndicator.finish {
    font-weight: 600;
    color: var(--blue);
}
.multistep-form .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #b0c9e9;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
}
.multistep-form .form-header .stepIndicator.active::before {
    background-color: var(--blue);
    border: 3px solid #b0c9e9;
}
.multistep-form .form-header .stepIndicator.finish::before {
    background-color: var(--blue);
    border: 3px solid #b7e1dd;
}
.multistep-form .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
.multistep-form .form-header .stepIndicator.active::after {
    background-color: #abc8ed;
}
.multistep-form .form-header .stepIndicator.finish::after {
    background-color: var(--blue);
}
.multistep-form .form-header .stepIndicator:last-child:after {
    display: none;
}
.multistep-form .step {
  display: none;
}
.multistep-form .form-footer{
    overflow:auto;
    gap: 20px;
}
.multistep-form fieldset h3 {
    font-size: 20pt;
    font-weight: bold;
}
.multistep-form .vehicle-radio-input .form-check-input {
    margin-bottom: 3px;
}
.multistep-form .vehicle-radio-input .form-check-input {
    margin-bottom: 3px;
}

.header-modal {
    background: url('../images/modal_bac.min.jpg') no-repeat center center;
    background-position: left;
    background-size: 130%;
    height: 100vh;
    max-height: 720px;
}

.header-modal .modal-item {
    width: 100%;
    max-width: 920px;
}

.header-modal .modal-item .header-headline{
    background-color: var(--blue);
}

.help-article {
    background-color: var(--blue);
    height: 100vh;
    max-height: 480px;
}

.help-article .headline .underline{
    height: 4px;
    background-color: white;
    max-width: 250px;
    width: 100%;
}

.help-article .btn {
    padding: 20pt;
    color: white;
}

.help-article .btn:hover {
    color: var(--blue);
    background-color: white;
}

.benefits-article .card {
    width: 350px;
    min-width: 200px;
}

.benefits-article img {
    width: 100px;
}

.insurance-process-article .card {
    width: 400px;
    min-width: 300px;
}

.insurance-process-article .lg-number {
    font-size: 80pt;
    z-index: 0;
    color: rgba(0, 0, 0, 0.2);
}

.insurance-process-article img {
    width: 350px;
}

 .insurance-table {
    width: 600px;
}