:root {
    --blue: #74A8ED;
    --dark-blue: #3D54B2;
    --white: #ffffff;
    --light-gray: #D9D9D9;
    --dark-gray: #666666;
    --black: #000;
}

.menu a {
    text-decoration: none;
}

ol,
ul {
    padding: 0;
}

.divider {
    border-right: 1px solid;
    color: var(--light-gray);
}

.logo img {
    width: 200px;
}

.top-menu {
    display: flex;
    gap: 15pt;
}

.top-menu a {
    text-decoration: none !important;
}

.top-menu section {
    display: flex;
    gap: 15pt;
}

.top-menu .bi {
    font-size: 1em;
}

.top-menu .bi-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5pt;
}

.main-menu {
    border-top: 1px solid var(--light-gray);
}

.main-menu ul {
    align-items: stretch;
    height: 30pt;
    gap: 20pt;
}
.portal-menu ul {
    margin: 0;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    display: flex;
    align-items: center;
}

.menu ul li a {
    height: 100%;
    align-items: center;
    display: flex;
}

.menu ul li a:hover {
    color: var(--blue);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.portal {
    background-color: #ffffff;
    border-top: 1px solid var(--light-gray);
    padding: 10pt;
}

.portal-menu .bi {
    font-size: 1em;
    margin-right: 5pt;
}

.portal .contract-card-header {
    border-left: 5px solid var(--blue);
}