{% extends "index.twig" %}

{% block title %}Klientský portál{% endblock %}

{% block content %}
<div class="container-xl">
{% include 'Components/portal-menu.twig' %}
    <p>Portál</p>
</div>
{% endblock %}