{% extends "index.twig" %}

{% block title %}Přihlášení – Nebourej.cz{% endblock %}

{% block content %}
  <form id="portal-login" method="post">
    <p>{{ general_message }}</p>
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="username" name="username" required>
      <p>{{ username_message }}</p>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>
      <p>{{ password_message }}</p>
      <button id="send-request">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <p>Nemáte ještě účet? <a href="/register">Registrujte se</a></p>
    </div>
  </form>
  <script src="/public/assets/js/portal_login.js"></script>
{% endblock %}