<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/node_modules/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/public/assets/css/custom-bs.css" rel="stylesheet">
    <link href="/public/assets/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/assets/images/favicon.ico">
    <link rel="manifest" href="/public/manifest.json">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <title>{% block title %}Default Title{% endblock %}</title>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/brands.min.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/solid.min.js"></script>
    <script defer src="/node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>

</head>
<body>
    {% include 'Components/header.twig' %}
        <div class="app container-xl">
            {% block content %}{% endblock %}
        </div>
    {% include 'Components/footer.twig' %}
</body>
</html>