{% block title %}Přehled - Klientský portál{% endblock %}
{% block headline %}Přehled - Klientský portál{% endblock %}


{% block content %}
    <div class="overview py-2">
        <h2>Vítejte, <b>{{user.firstname}}</b></h2>
        <p>Máte uzavřeno celkem <b>{{contracts_number}}</b> smluv na <b>{{vehicles_number}}</b> aut.</p>
    </div>
{% endblock %}