{% block title %}Přehled - Klientský portál{% endblock %}
{% block headline %}Přehled - Klientský portál{% endblock %}


{% block content %}
    <div class="overview py-2">
        <h2>Vítejte, <b>{{user.firstname}}</b></h2>
        <p>Máte uzavřeno celkem 5 smluv na 5 aut.</p>
    </div>
{% endblock %}